#Don't touch this
RewriteEngine on

#Rewrite rules

RewriteCond %{REQUEST_FILENAME} !-d
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-l
RewriteRule ^(.+)$ index.php

#RewriteCond %{HTTPS} =off 
#RewriteRule (.*) https://%{HTTP_HOST}%{REQUEST_URI} [QSA,L]

#Charset configuration
AddDefaultCharset utf-8
