@import "../main.scss";

.todo-list
{
  margin-top: 30px;
  background: white;
  padding: 3px 15px;
  border-radius: 10px;

  .headers
  {
    font-weight: bold;
    border-bottom: solid 2px black;
    .col
    {
      cursor: pointer;
      height: 50px;
      display: flex;
      align-items: center;
      p
      {
        margin: 0px;
      }
      i
      {
        margin-right: 5px;
      }
    }
  }

  .contents:nth-child(odd)
  {
    background-color: rgba(0,0,0, .05);
  }

  .contents
  {
    .col
    {
      height: 50px;
      display: flex;
      align-items: center;
      p
      {
        margin: 0px;
      }
    }
  }

  .add-task-button
  {
    display: block;
    margin: 10px 0px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
}

.login-link-wrapper
{
  display: flex;
  justify-content: center;
  text-align: center;
}

.blackboard
{
  background: rgba(0,0,0, 0.3);
  width: 100vw;
  height: 100vh;
  align-items: center;
  position: absolute;
  display: none;
  z-index: 100;
  float: left;
  top: 0px;
  opacity: 0;
}

.add-task-form, .edit-task-form {
  background: white;
  padding: 5px 15px;
  margin: 0px auto;
  border-radius: 10px;
  display: none;

  .header-wrapper
  {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 50px;

    .header p
    {
      color: black;
      font-size: 25px;
      font-weight: 500;
    }

    .close-button
    {
      display: flex;
      text-align: center;
      font-weight: 400;
      font-size: 30px;
      height: 50px;
      width: 50px;
      justify-content: center;
      align-items: center;
      border-radius: 3px;
      margin: 0px;
      cursor: pointer;
    }
    .close-button:hover
    {
      background: rgba(0,0,0, .05);
    }
  }

  p {
    margin: 0px;
    color: grey;
  }

  .submit-task-button, .save-task-changes-button {
    display: block;
    margin: 10px 0px;
    width: 100%;
    border-radius: 0px 0px 10px 10px;
  }
}

.bad-input-alert, .data-sent-alert
{
  position: absolute;
  bottom: 0px;
  margin-bottom: 0px;
  width: 100%;
  opacity: 0;
  z-index: 150;
}

.pagination
{
  display: flex;
  justify-content: center;
}

.edit_row_button, .task_completed_box
{
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 50px;
  font-size: 30px;
}

.edit_row_button
{
  cursor: pointer;
  margin-left: auto;
}